{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'expenses'%}">Expenses</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
    </ol>
  </nav>
  <div class="card">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Manage your expenses</legend>
          {{ form|crispy}}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Add expense</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
